<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLName</key>
            <string>com.example.apple-samplecode.LandmarksJS6CH83B3V.deep-link-ios-test</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>deeplink-ios-test</string>
            </array>
        </dict>
    </array>
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>revive</string>
    </array>
</dict>
</plist>
